body,
html {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  text-align: center;
  background-image: linear-gradient(#9fb4bd, #ffffff);
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  max-width: 720px;
  height: max-content;
  margin: 0 auto;
  padding: 0;
  border-left: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
  box-shadow: 0 0 10px rgba(78, 118, 84, 0.33);
  background-color: #ffffff;
}

img {
  width: 100px;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(/img/Ludwigslust_Schloss.jpeg);
  background-size: cover;
  background-position: 0% 90%;
  width: 100%;
  height: 350px;
  margin: 0 auto;
}

#hero-title {
  background: #cad979;
  display: inline-block;
  padding: 10px 20px;
  line-height: 37px;
  margin: 220px auto 0 auto;
  max-width: 260px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
  text-shadow: 0px 0px 3px black;
}

#hero-text {
  background: #7cb4b1;
  padding: 10px;
  color: rgb(0, 0, 0);
  max-width: 400px;
  border-radius: 10px;
  margin: 10px auto 40px auto;
  font-weight: lighter;
  font-size: 18px;
  color: #ffffff;
  text-shadow: 0px 0px 1px black;
}

.no-shadow {
  text-shadow: none;
}

#main {
  display: block;
  background-color: #f1faee;
  height: 500px;
  width: 100%;
  margin: 0 auto;
  padding-top: 0px;
}

#main-title {
  margin: 40px auto 60px auto;
}

#activity-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
}

#activity-img {
  height: 100px;
  border-radius: 50%;
  border: 6px solid #7cb4b1;
}

#activity-item {
  display: inline-block;
  width: 180px;
}

h3 {
  font-size: medium;
  font-weight: 550;
}

#guide-section {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 100%;
  background-color: #ffffff;
  border-top: 2px dotted #7cb4b1;
  padding-top: 40px;
}

#card {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 500px;
  background-color: #7cb4b1;
  border-bottom: 15px solid #cad979;
  border-radius: 5px;
  margin-bottom: 40px;
}

#guide-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  color: #ffffff;
  text-shadow: 0 0 2px black;
}

#guide-img {
  width: 160px;
  border-radius: 10px;
  border: 2px dotted #7cb4b1;
  margin: auto 0;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

#quote {
  font-style: italic;
  font-weight: lighter;
}

#quote-name {
  font-weight: bolder;
  font-size: 16px;
}

#card-title {
  font-size: 24px;
  margin: 10px;
}
